@import "./theme.scss";


// @media (min-width: $medium-screen-width){
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-bottom: 0px;
    color:#5F6388;
    font-weight: 600;
    img{
      height:100%;
    }
  }
  .page{
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    height:100%;
    width: 100vw;
    // background-color: rgba(226, 240, 254);
    // background-image: linear-gradient(to right bottom, rgb(244 245 231), rgb(215, 234, 253));

    .mainpage{
      flex:1;
      height:100%;
      max-width: 100vw;
      display: flex;
      flex-direction: column;
      .header{
        height: 60px;
        display: flex;
        justify-content: space-between;
        // padding:0 24px;
        padding-top: 10px;
        align-items: center;
        padding-right: 24px;
      }
      .navlist{
        display:flex;
        height:100%;
        align-items: center;
        .nav{
          padding:0 16px;
          display: flex;
          align-items: center;
          height:100%;
          color:#5F6388;
          cursor: pointer;
          position: relative;
          p{
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0px;
            line-height: 19.6px;
            text-align: left;
            vertical-align: top;
            margin-left: 8px;
            transition: all 0.1s ease-in-out;
          }
          .icon{
            font-size: 0;
          }
          &:hover{
            color: #5762ca;
          }
          &.router-link-active{
            color: rgba(34, 98, 251, 1);
          }
          &::after{
            content:"";
            position: absolute;
            display: block;
            bottom:0;
            left:16px;
            right:16px;
            width:calc(100% - 32px);
            height:3px;
            border-radius: 3px 3px 1px 1px;
            background: rgba(34, 98, 251, 1);
            opacity: 0;
            visibility: hidden;
            transition: all 0.1s ease-in-out;
          }
          &.router-link-active::after{
            opacity: 1;
            visibility: visible;
          }
        }
      }
      .btns{
        display:flex;
        height:100%;
        .btn{
          padding:0 16px;
          display: flex;
          align-items: center;
          height:100%;
          color:#5F6388;
          position: relative;
          cursor: pointer;
        }
        ._user::after{
          content:"";
          position: absolute;
          display: block;
          top:0px;
          bottom:0;
          left:0;
          margin:auto auto;
          right:0;
          width:calc(35px + 8px);
          height:calc(35px + 8px);
          border-radius: calc(35px + 8px);
          border:2px solid rgba(34, 98, 251, 1);
          opacity: 0;
          transition: all 0.1s ease-in-out;
        }
        ._user.router-link-active::after{
          opacity: 1;
        }

      }
      .routerpage{
        flex:1;
        overflow-y: auto;
        scroll-behavior: smooth;
        overflow-x: hidden;
        
      }
      .routerpage>*{
        // min-height: 100%;
      }
    }
    .tabbar{
      width: 250px;
      // background-color: rgba(251, 250, 255, 1);
      padding-top:28px;
    }
    .tablist{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding:16px;
      li{
        display: block;
        height:40px;
        width:100%;
        font-size:0;
        margin-bottom: 10px;
        &.primary a{
          background-color: rgba(187, 206, 255, 0.3);
          color:rgba(34, 98, 251, 1);
        }
        a{
          display: flex;
          width:100%;
          height:100%;
          padding:0 12px;
          border-radius: 8px;
          align-items: center;
          color:#5F6388;
          transition: all 0.1s ease-in-out;
          &.router-link-active{
            background:#fff;
            // box-shadow: 0px 8px 14px  rgba(62, 107, 224, 0.12);
            color:rgba(34, 98, 251, 1);
          }
          p{
            margin-left: 8px;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0px;
            line-height: 22px;
            text-align: left;
            vertical-align: top;
          }
        }
      }
    }
  }
// }

.m{
  display: none !important;
}


@media (max-width: 1000px) {
  .m{
    display: flex !important;
  }
  .pc{
    display: none !important;
  }
  .page .mainpage{
    
    .navMenu{
      img{
        height:25px;
        margin-right: 8px;
      }
    }
    .navlist{
      // display: none !important;
      display: flex !important;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.2s ease,
      visibility 0.2s ease;
      position: fixed;
      z-index: 99;
      top:60px;
      left:0;
      width:100%;
      height:calc(var(--system--height) - 60px);
      flex-wrap: wrap;
      align-content: flex-start;
      background-color: rgba(255,255,255,0.1);
      -webkit-backdrop-filter:blur(10px);
      backdrop-filter: blur(10px);
      // background-position: 0 -60px;
      background-image: linear-gradient(to right bottom, rgba(244,245,231,0.85), rgba(226, 240,254,0.85));
      &>.nav{
        width:fit-content;
        height:60px;
        cursor: pointer;
        &::after{
          display: none;
        }
        &.router-link-active{
          background-color: rgba(34, 98, 251, 0.1);
          color:rgba(34, 98, 251, 1);
        }
      }
      &>.tabbar{
        padding-top: 0;
        width: 100%;
        border-top:2px solid #5F638855;;
        ul{
          width:100%;
          li{
            height:50px;
            cursor: pointer;
          }
        }
      }
      &.show{
        display: flex !important;
        visibility: visible;
        opacity: 1;
        // justify-content: space-evenly;
        
      }
    }
    .header{
      padding:0 8px !important;
    }
    .navMenu{
      padding: 0 16px;
      height:100%;
      align-items: center;
      display: flex;
    }
    .commonPage{
      padding-top: 8px !important;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}