.pageroot{
  font-family: 'MiSansLatin';
  .hr{
    margin:0;
    height:1px;
    width:100%;
    background-color: rgba(232, 237, 241, 1);
  }
  ._container{
    display: flex;
    flex-direction: column;
    padding:30px 40px;
    flex:1;
    .cardview{
      display: flex;
      .card{
        // width: 274px;
        // height: 210px;
        background-color: #fff;
        flex:33.3%;
        margin-right: 24px;
        border-radius: 20px;
        padding:22px 20px;
        display: flex;
        flex-direction: column;
        &:last-child{
          margin-right: 0;
        }
        ._header{
          display: flex;
          margin-bottom: 26px;
          align-items: center;
          .icon{
            width:34px;
            height:34px;
            border-radius: 17px;
            background-color: rgba(243, 247, 253, 1);
          }
          .title{
            margin-left: 12px;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0px;
            line-height: 20.83px;
            color: rgb(101, 109, 121);
            text-align: left;
            vertical-align: top;
            flex:1;
          }
          .number{
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 0px;
            line-height: 28.64px;
            color: rgba(30, 30, 30, 1);
            text-align: left;
            vertical-align: top;
          }
        }
        
        .smallchart{
          width:100%;
          margin-top: 12px;
        }

      }
    }
  }
  ._sidebar{
    width: 396px;
    background-color: #fff;
    padding:0 40px;
    padding-top: 30px;
  }
}
@font-face {
  font-family: Lato;
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url(https://cdnjs.cloudflare.com/ajax/libs/lato-font/3.0.0/fonts/lato-semibold/lato-semibold.woff2) format("woff2"),
    url(https://cdnjs.cloudflare.com/ajax/libs/lato-font/3.0.0/fonts/lato-semibold/lato-semibold.woff) format("woff");
}
@font-face {
  font-family: Lato;
  font-weight: 500;
  font-style: italic;
  text-rendering: optimizeLegibility;
  src: url(https://cdnjs.cloudflare.com/ajax/libs/lato-font/3.0.0/fonts/lato-semibold-italic/lato-semibold-italic.woff2)
      format("woff2"),
    url(https://cdnjs.cloudflare.com/ajax/libs/lato-font/3.0.0/fonts/lato-semibold-italic/lato-semibold-italic.woff) format("woff");
}
@font-face {
  font-family: Lato;
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url(https://cdnjs.cloudflare.com/ajax/libs/lato-font/3.0.0/fonts/lato-bold/lato-bold.woff2) format("woff2"),
    url(https://cdnjs.cloudflare.com/ajax/libs/lato-font/3.0.0/fonts/lato-bold/lato-bold.woff) format("woff");
}
@font-face {
  font-family: Lato;
  font-weight: 600;
  font-style: italic;
  text-rendering: optimizeLegibility;
  src: url(https://cdnjs.cloudflare.com/ajax/libs/lato-font/3.0.0/fonts/lato-bold-italic/lato-bold-italic.woff2) format("woff2"),
    url(https://cdnjs.cloudflare.com/ajax/libs/lato-font/3.0.0/fonts/lato-bold-italic/lato-bold-italic.woff) format("woff");
}