.site-content{

}

.panel.bg-white{
  /* height: 90vh; */
  /* width:100vw; */
  /* padding-left:24px;
  padding-right:24px; */
  /* border-bottom: 1px solid rgba(0,0,0,0.1); */
  box-shadow: 0 1px 1px 0 #9995;
}
.text-colored{
  color:rgb(34, 98, 251)
}

.Crimson{
  font-family: "Crimson Pro", 'ui-serif','Noto Serif SC',Georgia, Cambria, "Times New Roman", Times, serif;
}